
<div class="bg">
   <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
   <div class="container">

      <h1>- NoteNetwork -</h1>
      <h5><em>The World's Largest Notebook</em></h5>

      <a href="http://www.mynotenetwork.com/" target="_blank"><button>Live Site</button></a>
      <a href="https://github.com/HexabitSiliconium/NoteNetwork" target="_blank"><button>Github</button></a>
      <a routerLink="/register"><button>Get Started</button></a>

   </div>
</div>
