
<div class="bg">
   <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
   <div class="container">
      <h1><img src="../favicon.ico" style="height: 1em">NoteNetwork</h1>
      <h4><em>The World's Largest Notebook</em></h4>
      <h6>Brought To You By Hexabit Siliconium</h6>

      <a href="https://docs.google.com/presentation/d/1iCZ2oOk2ow0KAiwA7J_NxjEsNFL8XU9vmtX5S-8VO4s/edit#slide=id.p" target="_blank"><button>Presentation</button></a>
      <a href="http://www.mynotenetwork.com/" target="_blank"><button>Website</button></a>
      <a href="https://github.com/HexabitSiliconium/NoteNetwork" target="_blank"><button>GitHub</button></a>
      <a routerLink="/register"><button>Get Started</button></a>
   </div>

      <!-- About -->
   <div class="about">
      <h2><u>What is NoteNetwork?</u></h2>
      <p>NoteNetwork allows students to upload their class notes and view the notes of other students. This service can aid students who might have missed class or having trouble understanding the course material. For students who might've missed class, they can use this service to view a classmate's notes and get a better insight into what was discussed. For students who don't understand the material, maybe looking at another person's notes might help them understand better.</p><br>
      <p><i>To ensure the exchange is fair, user must upload their own notes first in order to look at another person's notes.</i></p>
   </div>

      <!-- The Team -->
   <div class="team">
      <h2><u>Our Team</u></h2>
      <a href="https://github.com/Dingster01" target="_blank">
         <img class="profile-photo" src="../assets/team/HenryDing.jpeg"><p>Henry<br>Ding</p>
      </a>
      <a href="https://github.com/JGregFong" target="_blank">
         <img class="profile-photo" src="../assets/team/JonathanFong.jpg"><p>Jonathan<br>Fong</p>
      </a>
      <a href="https://github.com/cassilam" target="_blank">
         <img class="profile-photo" src="../assets/team/CassiLam.jpg"><p>Cassi<br>Lam</p>
      </a>
      <a href="https://github.com/nandanvinjamury" target="_blank">
         <img class="profile-photo" src="../assets/team/NandanVinjamury.jpg"><p>Nandan<br>Vinjamury</p>
      </a>
      <a href="https://github.com/mwono" target="_blank">
         <img class="profile-photo" src="../assets/team/MichaelWono.png"><p>Michael<br>Wono</p>
      </a>
   </div>
</div>
