<h2>
  View Notes
</h2>

<div class="row">
  <ul class="list-unstyled" *ngFor="let note of notes">
    <a routerLink="/notes/{{ note?._id }}">
      <div class="card" style="width: 18rem;" >
        <li>
        <h3 class="card-header">{{ note?.name }}</h3>
        <div class="card-content">
          <pdf-viewer [src]="note?.image" [original-size]="false" [show-all]="false" style="width: 50%"></pdf-viewer>
        </div>
        <div class="card-footer">{{ note?.description }}</div>
        </li>
      </div>
    </a>
  </ul>
</div>