<p>
  pdf-test works!
</p>
  <div>
  <input (change)="onFileSelected()" type="file" id="file">
  </div>
  <div>
  <button type="button" (click) = "increment(-1)" class="btn btn-outline-primary">Previous</button>  
  
  <span>[ Page: {{count}} ]</span>
  <button type="button" (click)= "increment(1)" class="btn btn-outline-primary">Next</button>
  </div>
  
  <div>
	<button type = "button" (click) = "showPagesToggle()" class="btn btn-outline-primary">Show All Pages Toggle</button>

  </div>
  <div>
 	<p id = "showPagesNotif" style = "display: blocked">Show all Pages Enabled</p>
  
  </div>
  <pdf-viewer [src] = "pdfSrc" 
              [render-text] = "true"
			  [show-all] = "showPages"
			  [page] = "count"
              style = "display: block;"
  ></pdf-viewer>