<body style="background-color: #ececec">
<div class="navbar navbar-default">
  <div class="container">
     <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/notes">View Notes</a>
        <a routerLink="/upload">Upload Notes</a>
     </nav>
     <div class="login">
        <li *ngIf="!login.isLoggedIn()"><a routerLink="/login">Login/Register</a></li>
        <li *ngIf="login.isLoggedIn()"><a (click)="login.logout()">Logout</a></li>
      </div>
  </div>
</div>
</body>
<router-outlet></router-outlet>
